/* Selector universal*/
*{
    box-sizing: border-box;

}

/* Selector de etiqueta*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
header{
    
    padding: 50px;
    background-color: #7fffd5;
    text-align: center;

}


section{
    flex: 70%;
    background-color: #f0e68c;
    padding: 20px;

}

footer{
    
    padding: 20px;
    text-align: center;
    background-color: #db7192;

}

table {
    border-collapse: collapse;
    width: 70%;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
  }


/* selector de clase*/
.row{
    display: flex;
    flex-wrap: wrap;

}
@media screen and (max-width:700px) {
    nav,.row{
        flex-direction: column;
    }
    
}